<div id="draggable{{counter}}" class="draggable-container" data-id="{{counter}}">
  <div id="target{{counter}}" class="target-image" style="background: url({{imageUrl}})" data-id="{{counter}}">
    <div class="ui-resizable-handle ui-resizable-nw nwgrip" id="nwgrip-{{counter}}"></div>
    <div class="ui-resizable-handle ui-resizable-ne negrip" id="negrip-{{counter}}"></div>
    <div class="ui-resizable-handle ui-resizable-sw swgrip" id="swgrip-{{counter}}"></div>
    <div class="ui-resizable-handle ui-resizable-se segrip" id="segrip-{{counter}}"></div>
    <div class="ui-resizable-handle ui-resizable-n ngrip" id="ngrip-{{counter}}"></div>
    <div class="ui-resizable-handle ui-resizable-s sgrip" id="sgrip-{{counter}}"></div>
    <div class="ui-resizable-handle ui-resizable-e egrip" id="egrip-{{counter}}"></div>
    <div class="ui-resizable-handle ui-resizable-w wgrip" id="wgrip-{{counter}}"></div>
  </div>
</div>
